<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <h5> Nav Bar </h5> 
        <a href="/puzzles">All Puzzles</a>       
        <a href="/puzzles/new">New Puzzles</a>       
    </nav>
    <h1><%= title %></h1>
  