<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <nav>
        <a href="/puzzles">All Puzzles</a>  
        <% if (user) { %>     
        <a href="/puzzles/new">New Puzzles</a>    
        <a href="/logout">Log Out</a>
        <% } else { %>
        <a href="/auth/google" class="login">LOG IN</a>
        <% } %>
    </nav>
    <h1><%= title %></h1>
  