<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <nav>
        <a href="/puzzles">All Puzzles</a>  
        <% if (user) { %>     
        <a href="/puzzles/new">Add New</a>    
        <a href="/messages">Messages</a>
        <a href="/logout">Log Out</a>
        <img class="avatar" src="<%= user.avatar %>" alt="avatar" referrerpolicy="no-referrer">
        <% } else { %>
        <a href="/auth/google" class="login">Register/Log In</a>
        <% } %>
    </nav>
    <h1><%= title %></h1>
  

  