<%- include('./partials/header')%>

<br>

<h1>In the Russian Hill Neighborhood?</h1> 
<h1> Got puzzles to share? </h2>
<h1>Want to do a new puzzle?</h1>
<h1>Check out available puzzles<a href="/puzzles">here!</a></h1>

<%- include('./partials/footer')%>