<%- include('./partials/header')%>

<section class="welcome-page">
    <img src="https://i.imgur.com/StckDgL.png" alt="" id="welcome-image">    
    <h3>In the Russian Hill Neighborhood? <br> Got puzzles to share? Want to do a new puzzle?</h3>
    <h2>Check out available puzzles <a href="/puzzles">here</a>!</h2>       
</section>

<%- include('./partials/footer')%>