<%- include('../partials/header')%>

<% if (title.includes('Sent')) {%>
    <a href="/messages?filter=received">Received Messages</a>
<% } else { %>
    <a href="/messages?filter=sent">Sent Messages</a>
<% } %>

<% messages.forEach(function(m) {%>
    <div><%= m.puzzle.name %></div>
    <p><%= m.body %></p>
<% }) %>
<%- include('../partials/footer')%>