<%- include('../partials/header')%>


<section class="message-room">
    <form action="/puzzles/<%= puzzle._id%>/messages/<%= message._id%>" method="POST">
        <textarea name="content"></textarea>
        <input type="submit" value="Send Message">
    </form>
</section>


<%- include('../partials/footer')%>