* {
  font-family: 'Nanum Gothic', sans-serif;
  color: #01080a;
}

nav > div > a {
  color: #01080a;
  text-decoration: none;
}

body {
  height: 100vh;
  text-align: center; 
  margin: 0;
  background-color: #F3F4ED;
}

/*-- Nav Bar ---*/

nav {
  display: flex;
  justify-content: flex-start;
  background-color: #94B49F;
  align-items: center;
  padding: 10px;
  padding-left: 18px;
  gap: 20px;
}

.nav2 {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding-right: 15px;
  gap: 20px;
}

#puzzle-piece-image {
  width: 34px;
  object-fit: contain;
}

#avatar {
  width: 34px;
  object-fit: contain;
}

/*-- Welcome page form ---*/

#welcome-image {
  width: 800px; 
  height: 422px;
}

/*-- All Puzzles View (index page) ---*/
.puzzle-index {
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  grid-template-rows: 40vmin;
  padding: 25px;  
}

.each-puzzle {
  display: grid;
  border: 4px;
  border-radius: 15%;
  border-style: dotted;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40vmin;
  padding: 6px;
  margin: 15px;
  line-height: 25px;
}

#image-index { 
  max-width: 35vmin;
  max-height: 55vmin;
  padding: 5px;
}

#puzzle-name {
  font-weight: bold;
  font-size: 25px;
}

#puzzle-details-link {
  font-size: 20px;
}

/*-- Add/Edit puzzle form (new/edit page)---*/

#new-puzzle-form {
  display: grid;
  grid-template-columns: 20vmin 50vmin;
  justify-content: center;
  text-align: left;
  gap: 5px; 
  font-family: 'Nanum Gothic', sans-serif;
}

#new-button {
  display: grid;
  grid-column: span 2;
  justify-content: center;  
  align-items: center;
}

/*-- Show Puzzles View (show page)---*/
.image-show {
  max-width: 200px;
  max-height: 400px;
}

#puzzle-description {
  font-style: italic;
}

.minor-details {
  font-size: 13px;
}

.puzzle-show-page {
  height: 100vh;
}

/*-- Message Index (message/index page)---*/

.message-index-page {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.message-index-headings{
  display: grid;
  grid-template-columns: 35vmin 18vmin 20vmin 29vmin; 
  font-size: 16px;
  justify-content: left;
  gap: 4px;
  margin-bottom: 5px;
}

.message-index-body {
  display: grid;
  grid-template-columns: 35vmin 18vmin 20vmin 29vmin; 
  font-size: 16px;
  border-style: dashed;
  border-color: black;
  justify-content: left;
  align-items: center;
  gap: 4px;
  margin: 10px;
}

#message-index-image {
  max-width: 175px;
  max-height: 250px;
  padding: 10px;
}

#message-index-link {
  font-size: 15px;
}

#puzzle-name-index {
  font-size: 25px;
}

/*-- Message Show (show page)---*/
.message-show-page {
  display: grid;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.message-show-headings {
  display: grid;
  grid-template-columns: 15vmin 30vmin 20vmin 20vmin; 
  font-size: 15px;
  gap: 5px;
  margin-left: 5px;
  margin-bottom: 3px;
  padding-left: 3px;
}

.message-show-replies {
  display: grid;
  grid-template-columns: 15vmin 30vmin 20vmin 20vmin; 
  font-size: 15px;
  gap: 5px;
  border-top: 2px dashed #94B49F;;
  align-items: center;
  margin: 5px;
  padding: 3px;
}

#msg {
  font-style: italic;
  font-weight: bold;
}

#reply-button{
  display: grid;
  justify-content: center;
}

.buttons{
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 6px 10px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
  font-family: 'Nanum Gothic', sans-serif;
  margin: auto;
  margin-top: 6px;
}

.delete-button{
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid red;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 12px;
  color: red;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 4px 8px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
  font-family: 'Nanum Gothic', sans-serif;
  margin: auto;
}

