* {
  font-family: "Nunito", sans-serif; 
}

a {
  color: #01080a;
}

body {
  height: 100vh;
  text-align: center; 
  margin: 0;
}

body > nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: antiquewhite;
  margin: 0; 
}

nav > img {
  width: 34px;
  object-fit: contain;
  padding: 15px;
}



a {
  padding: 10px;
}

/*-- Add puzzle form ---*/

#new-puzzle-form {
  display: grid;
  grid-template-columns: 20vmin 50vmin;
  justify-content: center;
  text-align: left;
  gap: 5px; 
}
#new-puzzle-button {
  grid-template-columns: span 2;
}

/*-- All Puzzles View ---*/
#puzzle-index {
  grid-template-columns: repeat(3, 20vh);
  grid-template-rows: 40vmin;
  padding: 25px;  
}

.t-body {
  display: flex;
  flex-wrap: wrap;
  gap: 5vmin;
  justify-content: center;
}


.each-puzzle {
  display: grid;
  border: 4px;
  border-style: dotted;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40vh;
  padding: 5px;
}
.image-index { 
  max-width: 275px;
  max-height: 600px;
}


/*-- Specific Puzzles View (show page)---*/
.image-show {
  max-width: 500px;
  max-height: 600px;
}

