* {
  font-family: Helvetica;;
}

a {
  color: #00B7FF;
}

body {
  height: 100vh;
  text-align: center;
}

nav > img {
  width: 34px;
  object-fit: contain;
  padding: 15px;
}

body > nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  padding: 10px;
}

/*-- Add ---*/

#new-puzzle-form {
  display: grid;
  grid-template-columns: 20vmin 50vmin;
  justify-content: center;
  text-align: left;
  gap: 5px; 
}
#new-puzzle-button {
  grid-template-columns: span 2;
}

/*-- All Puzzles View ---*/
#puzzle-index {
  display: grid;
  grid-template-rows: 30vmin 30vmin 30vmin;
  justify-content: center;
  text-align: left;
  gap: 5px; 

}

#details-page{
  display: grid;  
  grid-template-columns: 20vmin;
  justify-content: center;
  align-items: center; 
  text-align: center;
  gap: 5px; 
}
